.header{
    margin-bottom: 50px;
    height: 70px;
    background-color: #ea4731;
    border-radius: 7px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
}

.header h1{
    margin: 0;
    color: white;
    text-align: center;
    line-height: 70px;
}