.inner-breaking-news{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.6);
    border-radius: 0 0 15px 15px;
}

.inner-breaking-news h2{
    margin: 0;
    text-align: center;
    line-height: 70px;
}

.inner-breaking-news a{
    text-decoration: none;
    color: white;
}

.inner-breaking-news a:hover{
    text-shadow: 0 0 4px  rgba(255,255,255, 0.7);
}

.inner-breaking-news a:visited{
    color: white;
}
