.newsblock{
    font-family: 'Noto Sans';
    border-radius: 7px;
    padding: 20px;
    background: white;
    margin-left: 270px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.4);

    height:auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}