.info{
    font-family: 'Noto Sans';
    width: 230px;
    height: auto;
    background: rgba(255,255,255,0.7);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
    padding: 10px;
    font-size: 0.9em;
}

.info h3{
    margin-top: 0px;
    font-size: 1.2em;
}