.outer-breaking-news{
    padding: 2px;
    position: relative;
    margin-bottom: 50px;
    height: 220px;
    border-radius: 7px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
    background: url("../../src/breaking.jpg");/*decide something with background*/
    background-repeat: no-repeat;
    background-size: cover;
}